* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.wrapper {
    background: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    // background-color: yellow;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 480px;
    min-height: 320px;
    background-color: white;
    z-index: 102;
    border-radius: 10px;
    gap: 20px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 40px;
}

.buttonYes,
.buttonNo {
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
}

.buttonNo {
    background-color: #e64545;
    color: white;
}

.buttonYes {
    background-color: #9af325;
}